.top-row {
    background-color: #f7f7f7;
    height: 3.5rem;
}

.footer {
    margin-top: 1rem;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

@media (max-width: 640.98px) {
    .top-row.auth {
        justify-content: space-between;
    }
}
